<section class="modal-add-task">
    <div class="modal-content">
        <div class="add-task">
            <h2>Add New Project Task</h2>
            <form class="new-task-form" data-project-id="{{project.id}}">
                <div class="form-input">
                    <input type="text" id="new-task" name="new-task" placeholder="Task" />
                </div>
                <div class="form-input user-menu">
                    <select name="user-menu" id="user-menu">
                        <option disabled selected value>Assign Task To: </option>
                        {{#each user}}
                        <option value="{{user.username}}" data-user-id:"{{user.id}}">{{user.username}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-input status-menu">
                    <select name="status" id="status-menu">
                        <option disabled selected value>Select Task Status</option>
                        <!-- change these to dynamically match newly created statuses with value={{status.status_text}}  -->
                        <option value="To Do" data-status-id="{{status.id}}">To Do</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Completed">Completed</option>
                        <option value="Urgent">Urgent</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-add-task">Add Task</button>
                <button type="button" class="btn btn-close-modal">Close</button>
            </form>
        </div>
    </div>
</section>

<section class="modal-invite-user">
    <div class="modal-content">
        <div class="invite-user">
            <h2>Invite New Project Member</h2>
            <form class="add-user-form">
                <div class="form-input user-menu">
                    <label for="invite-user-menu">Choose a user to invite: </label>
                    <select name="invite-user-menu" id="invite-user-menu" data-project-id="{{project.id}}">
                        {{!-- {{#each user}} will need to push getAll user data to display here--}}
                        <option value="{{user.username}}" data-user-id:"{{user.id}}">{{user.username}}</option>
                        {{!-- {{/each}} --}}
                    </select>
                </div>
                <button type="submit" class="btn btn-invite-user">Add User</button>
                <button type="button" class="btn btn-close-modal">Close</button>
            </form>
        </div>
    </div>
</section>

<section>
    <a class="back" href="/dashboard"> &larr; Back to Dashboard</a>
    <div class="project-header">
        <h2>{{title}}</h2>
        <button type="button" class="btn btn-open-invite-modal">Invite Project Member</button>
    </div>
    <table>
        <tr>
            <th class="table-header">Task</th>
            <th class="table-header">Assigned</th>
            <th class="table-header">Status</th>
        </tr>
        {{#each task}}
        <tr>
            <td>{{task}}</td>
            <td>{{user.username}}</td>
            <td>{{status}}</td>
            <td>
                <button type="button" class="btn btn-edit">Edit Task</button>
                <button type="button" class="btn btn-delete" data-task-id="{{task.id}}">Delete Task</button>
            </td>
        </tr>
        {{/each}}
    </table>
    <button type="button" class="btn btn-open-task-modal">Add Task</button>
</section>