{{!-- invite user modal --}}
<section class="modal-invite-user">
    <div class="modal-content">
        <div class="invite-user">
            <h2>Invite New Project Member</h2>
            <form class="add-user-form" data-project-id="{{project.id}}">
                <div class="form-input user-menu">
                    <label for="invite-user-menu">Choose a user to invite: </label>
                    <select name="invite-user-menu" id="invite-user-menu">
                        {{#each users}}
                        <option value="{{username}}-id{{id}}">{{username}}</option>
                        {{/each}}
                    </select>
                </div>
                <button type="submit" class="btn btn-invite-user">Add User</button>
                <button type="button" class="btn btn-close-invite-modal">Close</button>
            </form>
        </div>
    </div>
</section>

{{!-- main single-project view --}}
<section>
    <a class="back" href="/dashboard"> &larr; Back to Dashboard</a>
    <div class="project-header">
        {{!-- {{log project}} --}}
        <h2>{{project.title}}</h2>
        <button type="button" class="btn btn-open-invite-modal">Invite Project Member</button>
    </div>
    <table id='project-task'>
        <tr>
            <th class="table-header">Task</th>
            <th class="table-header">Assigned</th>
            <th class="table-header">Status</th>
        </tr>
        {{#each project.tasks}}
        <tr>
            <td class="task-text-{{id}}" data-task-id="{{id}}">{{task_text}}</td>
            {{#each users}}
            <td class="task-user" data-task-id="{{id}}">{{username}}</td>
            {{/each}}
            <td class="task-status" data-task-id="{{id}}">{{status.title}}</td>
            <td>
                <button type="button" class="btn btn-edit" data-task-id="{{id}}">Edit Task</button>
                <button type="button" class="btn btn-delete" data-task-id="{{id}}">Delete Task</button>
            </td>
        </tr>
        {{/each}}
    </table>
    <button type="button" class="btn" id="open-task-modal">Add Task</button>
</section>

{{!-- add task modal --}}
<section class="modal-add-task">
        <div class="add-task">
            <h2>Add New Project Task</h2>
            <form class="new-task-form" data-project-id="{{project.id}}">
                <div class="form-input">
                    <input type="text" id="new-task" name="new-task" placeholder="Task" />
                </div>
                <div class="form-input user-menu">
                    <select name="user-menu" id="task-user-menu">
                        <option disabled selected value>Assign Task To: </option>
                        {{#each project.users}}
                        <option value="{{username}}-id{{id}}">{{username}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-input status-menu">
                    <select name="status-menu" id="status-menu">
                        <option disabled selected value>Select Task Status</option>
                        {{#each status}}
                        <option value="{{title}}-id{{id}}">{{title}}</option>
                        {{/each}}
                    </select>
                </div>
                <button type="submit" class="btn" id="btn-add-task">Add Task</button>
                <button type="button" class="btn" id="close-task-modal">Close</button>
            </form>
        </div>
    </div>
</section>

<script src="/javascript/invite-user.js"></script>
<script src="/javascript/add-task.js"></script>
<script src="/javascript/delete-task.js"></script>